.App {
  text-align: center;
}

.searchButton {
  height: auto;
}

.Input {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.gif-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .gif {
  width: 400px;
} */

input {
  margin-right: 10px;
}

.trending {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.search-bar Button {
  margin-left: 20px;
}